/* src/components/Footer.css */
.footer {
  background-color: #0056b3;
  color: white;
  text-align: center;
  padding: 10px 15px;
  font-size: 0.95rem;
  position: bottom;
  margin-top: 30px;
}

.marquee-text {
  font-weight: 500;
  margin-bottom: 5px;
  color: #ffffff;
}

.datetime {
  font-size: 0.85rem;
}
